.footer {
    background-color: $white;
    border-radius: 32px 32px 0 0;
}
.footer {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px 0;
        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
        @media (max-width: 767px) {
            margin: 20px 0;
        }
    }
    &__copy {
        white-space: nowrap;
        flex-shrink: 0;
    }
    &__info {
        line-height: 12px;
        font-size: 8px;
        text-transform: uppercase;
        margin: 0 50px;
        width: 100%;
        flex-grow: 1;
        @media (max-width: 992px) {
            order: -1;
            margin: 0;
            margin-bottom: 20px;
        }

        a {
            color: $breadcrumbs;
        }
    }
    &__logo {
        flex-shrink: 0;
    }
}
