.header {
    background-color: $white;
    border-radius: 0 0 32px 32px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 8%);
    position: absolute;
    left: 0;
    right: 0;
    height: 234px;
    @media (max-width: 767px) {
        height: 209px;
    }
}
.header-top {
    background-color: $bg-main;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__link {
        width: 100%;
        color: $p;
        font-size: 14px;
        transition: all 0.3s ease 0s;
        &::before {
            content: "\2039";
            font-size: 20px;
            padding-right: 10px;
            display: inline-block;
            transition: all 0.5s ease 0s;
        }
        @media (any-hover: hover) and (any-pointer: fine) {
            &:hover {
                transition: all 0.3s ease 0s;
                color: $bg-btn;
                &::before {
                    transform: translateX(-10px);
                    transition: all 0.5s ease 0s;
                }
            }
        }
    }
}

h1 {
    @include text-h1;
}

.nav {
    position: relative;
    display: flex;
    padding-bottom: 30px;
    &__list {
        display: flex;
        @media (max-width: 420px) {
            display: none;
            &.menu--active {
                position: absolute;
                top: 50px;
                left: -15px;
                display: inline-block;
                background-color: $white;
                width: 78px;
                padding: 10px 0 10px;
                border-radius: 0 32px 32px 32px;
                box-shadow: 0 4px 4px rgb(0 0 0 / 8%);
                a {
                    margin-bottom: 10px;
                    margin-left: 15px;
                }
            }
        }
    }

    a {
        font-size: 12px;
        font-weight: 500;
        color: $title;
        padding: 0 18px;
        height: 48px;
        width: 60px;
        border-radius: 28px;
        background-color: $bg-main;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.4s ease 0s;
        @media (any-hover: hover) and (any-pointer: fine) {
            &:hover {
                border-radius: 8px;
                background-image: radial-gradient(#fff, rgba(0, 0, 0, 0.061));
                transition: all 0.4s ease 0s;
                &._blue {
                    background-image: none;
                    background-color: #55a5fb !important;
                }
            }
        }
        @media (max-width: 420px) {
            width: 48px;
        }
    }
}
.burger {
    @include burger;
}
.breadcrumbs {
    display: flex;
    padding-top: 12px;
    li {
        padding-right: 12px;
        & a {
            color: $p;
            font-size: 12px;
            line-height: 1;
        }
        &:not(:first-child)::before {
            content: "\2022";
            color: $breadcrumbs;
            padding-right: 10px;
            font-size: 12px;
            line-height: 1;
        }
        &:last-child {
            & a {
                color: $breadcrumbs;
            }
        }
    }
}
