.header {
    background-color: $white;
    border-radius: 0 0 32px 32px;
     box-shadow: 0 4px 4px rgb(0 0 0 / 8%);
    position: absolute;
    left: 0;
    right: 0;
    height: 164px;
}
h1 {
    @include text-h1;
}
.nav {
    position: relative;
    display: flex;
    padding-bottom: 30px;
    &__list {
        display: flex;
        @media (max-width: 420px) {
            display: none;
            &.menu--active {
                position: absolute;
                top: 50px;
                left: -15px;
                display: inline-block;
                background-color: $white;
                width: 150px;
               padding: 10px 0 10px;
                border-radius: 0 32px 32px 32px;
                    box-shadow: 0 4px 4px rgb(0 0 0 / 8%);
                a {
                    margin-bottom: 10px;
                    margin-left: 15px;
                }
            }
        }
    }
    a {
        font-size: 12px;
        font-weight: 500;
        color: $title;
        padding: 0 18px;
        height: 48px;
        width: 60px;
        border-radius: 28px;
        background-color: $bg-main;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.burger {
    @include burger;
}
