.posts {
   display: flex;
   flex-wrap: wrap;
   padding: 30px 0 0 0;
   margin-right: -3%;
}
.posts-btn {
   width: 276px;
   height: 48px;
   margin: 10px auto 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 28px;
   padding: 10px;
   font-size: 14px;
   color: $bg-btn;
   font-weight: 500;
   background-color: $white;
   transform: perspective(1px) translateZ(0);
   position: relative;
   overflow: hidden;
   transition: color 0.5s ease 0s;

   &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -76px;
      background: $bg-btn;
      transform: scale(0);
      transition: transform 0.5s ease-out 0s;
      width: 200px;
      height: 200px;
      border-radius: 50%;
   }
   @media (any-hover: hover) and (any-pointer: fine) {
      &:hover {
         border-radius: 8px;
         color: $white;
         transition: all 0.5s ease 0s;
      }
      &:hover:before {
         transform: scale(2);
      }
   }
   @media (max-width: 767px) {
      width: 100%;
   }
}


