@charset "UTF-8";
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "CoFoSans";
  src: url("../fonts/../fonts/CoFoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CoFoSans";
  src: url("../fonts/../fonts/CoFoSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: "CoFoSans";
  font-size: 16px;
  font-weight: 400;
  color: #8c94a8;
  line-height: 1.5;
  background-color: #f4f6fb;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

._blue {
  background-color: #007bfb !important;
  color: #fff !important;
}

.logo {
  width: 100px;
}
@media (max-width: 767px) {
  .logo {
    width: 80px;
  }
}
@media (max-width: 420px) {
  .logo {
    width: 60px;
  }
}
.logo img {
  max-width: 100%;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
  color: #2a2a30;
  margin: 20px 0 30px;
}
@media (max-width: 1350px) {
  h1 {
    font-size: calc(24px + 16 * (100vw - 320px) / 1030);
  }
}
@media (max-width: 767px) {
  h1 {
    margin: 15px 0 15px;
    line-height: 1.16;
  }
}

.invisible-text {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 50%);
  -ms-transform: translate(0px, 50%);
  transform: translate(0px, 50%);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.visible-text {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  visibility: visible;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.invisible {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0.3s;
  -o-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s;
}

.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.8s ease 0.3s;
  -o-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s;
}

.header {
  background-color: #fff;
  border-radius: 0 0 32px 32px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
}

.header-top {
  position: fixed;
  z-index: 1;
  background-color: #f4f6fb;
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-top__link {
  width: 100%;
  color: #8c94a8;
  font-size: 14px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-top__link::before {
  content: "‹";
  font-size: 20px;
  padding-right: 10px;
  display: inline-block;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .header-top__link:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #007bfb;
  }
  .header-top__link:hover::before {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
}

.header-nav {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-nav__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 60px;
}
@media (max-width: 767px) {
  .header-nav__menu-list {
    padding-right: 0px;
  }
}
.header-nav__menu-list li {
  padding-right: 20px;
}
@media (max-width: 767px) {
  .header-nav__menu-list li {
    padding-right: 10px;
  }
}
.header-nav__menu-list li:first-child a {
  color: #8c94a8;
}
.header-nav__menu-list li a {
  font-size: 14px;
  font-weight: 500;
  color: #282d3c;
}

.header-logo {
  margin-right: 20px;
}
@media (max-width: 420px) {
  .header-logo {
    display: none;
  }
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}
@media (max-width: 420px) {
  .nav {
    padding-bottom: 15px;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 420px) {
  .nav__list {
    display: none;
  }
  .nav__list.menu--active {
    position: absolute;
    top: 50px;
    left: -15px;
    display: inline-block;
    background-color: #fff;
    width: 78px;
    padding: 10px 0 10px;
    border-radius: 0 32px 32px 32px;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  }
  .nav__list.menu--active a {
    margin-bottom: 10px;
    margin-left: 15px;
  }
}
.nav a {
  font-size: 12px;
  font-weight: 500;
  color: #282d3c;
  padding: 0 18px;
  height: 48px;
  width: 60px;
  border-radius: 28px;
  background-color: #f4f6fb;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .nav a:hover {
    border-radius: 8px;
    background-image: -o-radial-gradient(#fff, rgba(0, 0, 0, 0.061));
    background-image: radial-gradient(#fff, rgba(0, 0, 0, 0.061));
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .nav a:hover._blue {
    background-image: none;
    background-color: #55a5fb !important;
  }
}
@media (max-width: 420px) {
  .nav a {
    width: 48px;
  }
}

.burger {
  display: none;
}
@media (max-width: 420px) {
  .burger {
    display: block;
    position: absolute;
    top: 7px;
    left: 65px;
    background-color: inherit;
    border: none;
    padding: 0;
    width: 50px;
    height: 30px;
    cursor: pointer;
  }
  .burger::before, .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #007bfb;
  }
  .burger::before {
    left: 10px;
  }
  .burger::after {
    left: 30px;
  }
  .burger__line {
    position: absolute;
    left: 20px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #007bfb;
  }
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}
@media (max-width: 420px) {
  .breadcrumbs {
    display: none;
  }
}
.breadcrumbs li {
  padding-right: 12px;
}
.breadcrumbs li a {
  color: #8c94a8;
  font-size: 12px;
  line-height: 1;
}
.breadcrumbs li:not(:first-child)::before {
  content: "•";
  color: #bcc3d2;
  padding-right: 10px;
  font-size: 12px;
  line-height: 1;
}
.breadcrumbs li:last-child a {
  color: #bcc3d2;
}

.footer {
  background-color: #fff;
  border-radius: 32px 32px 0 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 40px 0;
}
@media (max-width: 992px) {
  .footer__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .footer__inner {
    margin: 20px 0;
  }
}
.footer__copy {
  white-space: nowrap;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.footer__info {
  line-height: 12px;
  font-size: 8px;
  text-transform: uppercase;
  margin: 0 50px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (max-width: 992px) {
  .footer__info {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin: 0;
    margin-bottom: 20px;
  }
}
.footer__info a {
  color: #bcc3d2;
}
.footer__logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px 0 0 0;
  margin-right: -3%;
}

.posts-btn {
  width: 276px;
  height: 48px;
  margin: 10px auto 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 28px;
  padding: 10px;
  font-size: 14px;
  color: #007bfb;
  font-weight: 500;
  background-color: #fff;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}
.posts-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -76px;
  background: #007bfb;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s ease-out 0s;
  transition: -webkit-transform 0.5s ease-out 0s;
  -o-transition: transform 0.5s ease-out 0s;
  transition: transform 0.5s ease-out 0s;
  transition: transform 0.5s ease-out 0s, -webkit-transform 0.5s ease-out 0s;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .posts-btn:hover {
    border-radius: 8px;
    color: #fff;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .posts-btn:hover:before {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
}
@media (max-width: 767px) {
  .posts-btn {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .posts-btn {
    margin-bottom: 30px;
  }
}

.post-card {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 47%;
  flex: 0 1 47%;
  margin-right: 3%;
  margin-bottom: 3%;
  background-color: #fff;
  border-radius: 28px;
  padding: 20px 50px 20px 20px;
  min-height: 340px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
@media (max-width: 767px) {
  .post-card {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    padding-right: 20px;
    min-height: auto;
  }
}
.post-card__inner {
  height: 100%;
  max-width: 384px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .post-card__inner {
    max-width: 100%;
  }
}
.post-card__title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
  color: #282d3c;
  padding-bottom: 30px;
}
@media (max-width: 1350px) {
  .post-card__title {
    font-size: calc(20px + 12 * (100vw - 320px) / 1030);
    line-height: calc(24px + 12 * (100vw - 320px) / 1030);
  }
}
.post-card__text {
  color: #8c94a8;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .post-card__text {
    max-width: 384px;
  }
}
.post-card__date {
  color: #8c94a8;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .post-card:hover {
    background-color: #007bfb;
  }
  .post-card:hover .post-card__title {
    color: #fff;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .post-card:hover .post-card__text,
.post-card:hover .post-card__date {
    color: rgba(255, 255, 255, 0.582);
  }
}
/*# sourceMappingURL=main.css.map */