/* stylelint-disable */

@mixin burger {
  display: none;
  @media (max-width: 420px) {
    display: block;
    position: absolute;
    top: 7px;
    left: 65px;
    background-color: inherit;
    border: none;
    padding: 0;
    width: 50px;
    height: 30px;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $bg-btn;
    }

    &::before {
      left: 10px;
    }

    &::after {
      left: 30px;
    }

    &__line {
      position: absolute;
      left: 20px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $bg-btn;
    }
  }
}
