<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <span class="footer__copy">&copy; Blog 2022</span>
      <div class="footer__info"><a href="#">Далеко-далеко за словесными горами в стране гласных и согласных живут
          рыбные
          тексты. Букв но несколько всеми не, свое она возвращайся дал приставка строчка. Заглавных над текста живет
          безорфографичный, возвращайся однажды осталось, жаренные океана его, деревни агентство своих переписали что
          жизни!
          Вопрос сбить над послушавшись злых. Родного свой снова парадигматическая повстречался, рукопись грустный?</a>
      </div>
      <a class="logo footer__logo" href="#">
      <img src="../img/logo.png" alt="logo" />
      </a>

    </div>
  </div>
</footer>