<header class="header">

  
  <div class="header-body">
    <div class="header-top">
      <a href="https://olga-evdokimova.github.io/blog-Corporate/" class="header-top__link container">Открыть основной сайт</a>
    </div>
    <div class="container">
      <div class="header-nav">
        <a class="logo header-logo" href="https://olga-evdokimova.github.io/blog-Corporate/"><img src="./img/logo.png" alt="logo" /></a>
        <nav class="header-nav__menu">
          <ul class="header-nav__menu-list">
            <li><a href="#">Новости</a></li>
            <li><a href="#">Публикации</a></li>
            <li><a href="#">Мероприятия</a></li>
          </ul>
        </nav>
      </div>




    </div>
  </div>

</header>