// мои настройки==========================
//<Шрифт по умолчанию>==========================================================================================
body {
    font-family: "CoFoSans";
    font-size: 16px;
    font-weight: 400;
    color: $p;
    line-height: 1.5;
}

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

//<ОСНОВНАЯ СЕТКА>=================================
.container {
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
}
//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
    flex: 1 1 auto;
}
.page-bg {
    background-color: $bg-main;
    padding-bottom: 40px;
}
//<ОБЩИЕ КЛАССЫ>============================================================================================
._blue {
    background-color: $bg-btn !important;
    color: $white !important;
}
.logo {
    width: 100px;
    @media (max-width: 767px) {
        width: 80px;
    }
    @media (max-width: 420px) {
        width: 60px;
    }
    img {
        max-width: 100%;
    }
}

h1 {
    @include text-h1;
}

p,
strong {
    letter-spacing: -0.01em;
}
.date {
    color: $p;
    font-size: 14px;
}
.title {
    margin: 20px 0 30px;
    @media (max-width: 767px) {
        margin: 15px 0 15px;
    }
}
//Анимация ============================================
.invisible-text {
    opacity: 0;
    visibility: hidden;
    transform: translate(0px, 50%);
    transition: all 0.8s ease 0.5s;
}
.visible-text {
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    transition: all 0.8s ease 0.5s;
}
.invisible {
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0.3s;
}
.visible {
    opacity: 1;
    visibility: visible;
    transition: all 0.8s ease 0.3s;
}
.box-shadow {
    box-shadow: 0 4px 4px rgb(0 0 0 / 8%);
}
//=============================
.header-close {
    transform: translate(0px, -40px);
}

.header-open {
    transform: translate(0px, 0px);
}

//================================
// .asd { //ссылка на всех устройствах
//     display: block;
//     width: 200px;
//     height: 200px;
//     margin: 200px auto;
//     background-color: red;

//     transition: all 0.3s ease 0s;

//     @media (any-hover: hover) and (any-pointer: fine) {
//         &:hover {
//             background-color: blue;
//             transition: all 0.3s ease 0s;
//         }
//     }

//     @media (max-width: 1025px) {
//         &:focus {
//             background-color: orange;
//             transition: all 0.3s ease 0s;
//         }
//     }
// }
//=========================================================
// Box-text {
//    text-overflow: ellipsis; //образка длинных блоков с текстом
//    overflow: hidden; //прятать выходящий за пределы текст
//    width: 100%; //ширина блока с текстом
//    white-space: nowrap; //запрет на перенос текста
// }
// Box-text-block {
//    display: -webkit-box;
//    -webkit-line-clamp: 4;//обрезка блоков с текстом в 4 строки
//    -webkit-box-orient: vertical;
//    overflow: hidden;
//    max-height: 98px; //если не сработают свойства с префиксами то обрежется по высоте
// }
//===========================================================
// настройки готовой сборки ---------------------------------
// html {
//   box-sizing: border-box;
// }

// *,
// *::before,
// *::after {
//   box-sizing: inherit;
// }

// .page {
//   height: 100%;
//   font-family: var(--font-family, sans-serif);
//   -webkit-text-size-adjust: 100%;
//   scroll-behavior: smooth;
// }

// .page__body {
//   margin: 0;
//   min-width: 320px;
//   min-height: 100%;
//   font-size: 16px;
// }

// img {
//   height: auto;
//   max-width: 100%;
//   object-fit: cover;
// }

// a {
//   text-decoration: none;
// }

// .site-container {
//   overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
// }

// .is-hidden {
//   display: none !important; /* stylelint-disable-line declaration-no-important */
// }

// .btn-reset {
//   border: none;
//   padding: 0;
//   background: transparent;
//   cursor: pointer;
// }

// .list-reset {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }

// .visually-hidden {
//   position: absolute;
//   overflow: hidden;
//   margin: -1px;
//   border: 0;
//   padding: 0;
//   width: 1px;
//   height: 1px;
//   clip: rect(0 0 0 0);
// }

// .container {
//   margin: 0 auto;
//   padding: 0 var(--container-offset);
//   max-width: var(--container-width);
// }

// .js-focus-visible :focus:not(.focus-visible) {
//   outline: none;
// }
