// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы, подключаем так же новые компоненты или небольшие блоки (созданные фалы scss в папке components)
@import "./components/header";
@import "./components/main";
